@tailwind base;
@tailwind components;
@tailwind utilities;

.page-max-width {
  @apply max-w-screen-xl mx-auto xl:px-0 md:px-8 px-6;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
select {
  font-size: 16px;
}

.PhoneInputCountryIcon {
  @apply !rounded-full overflow-hidden !border-none min-h-5 h-5 min-w-5 object-cover;
}

.PhoneInputCountryIcon svg {
  @apply w-full h-full object-cover;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0; /* Hide "Powered by Google" if needed */
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Extralight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Digital Numbers";
  src: url("/assets/fonts/DigitalNumbers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.clash-display-font {
  font-family: "Clash Display", sans-serif;
}

.digital-numbers-font {
  font-family: "Digital Numbers", sans-serif;
}

/* ::-webkit-scrollbar {
  width: 7px;
  height: 3px;
} */

/* ::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.94);
} */
